@import '@esri/calcite-components/dist/calcite/calcite.css';
@import '@arcgis/core/assets/esri/themes/light/main.css';
@import '@arcgis/map-components/main.css';

:host {
  --color-blue: #222e5d;
  --color-green1: #62a34b;
  --color-gray: #2e393c;
  --color-lightgreen: #c4d8b5;
  --color-green2: #7fbe40;

  --color-primary: var(--color-green1);
  --color-secondary: var(--color-blue);

  --button-radius: 3px;
  --surface-radius: 6px;
}

:host {
  font-family: 'Poppins', sans-serif;
}
