@import 'https://js.arcgis.com/calcite-components/3.2.1/calcite.css';
@import 'https://js.arcgis.com/4.34/@arcgis/core/assets/esri/themes/light/main.css';
@import 'https://js.arcgis.com/4.34/map-components/main.css';

:host {
  --color-gray: #2e393c;
  --color-green1: #67a24e;
  --color-green2: #83bd45;
  --color-green3: #3d9356;
  --color-green3--parts: 137, 41%, 41%;
  --color-blue: #222e5d;
  --color-purple: #5e1c6f;

  --color-primary: var(--color-green3);
  --color-primary--parts: var(--color-green3--parts);
  --color-secondary: var(--color-purple);

  --color-primary--hover: hsl(145, 39%, 35%);
  --color-primary--active: hsl(145, 39%, 30%);

  --button-radius: 0.188em;
  --surface-radius: 0.375em;

  --card-background-default: hsla(0, 0%, 100%, 70%);
  --control-solid-default: hsl(0, 0%, 100%);
  --control-stroke-default: hsla(0, 0%, 0%, 7%);
  --control-stroke-secondary-overlay: hsla(0, 0%, 0%, 10.44%);

  --text-primary: hsla(0, 0%, 0%, 89.56%);
  --text-secondary: hsla(0, 0%, 0%, 60.63%);
  --text-tertiary: hsla(0, 0%, 0%, 44.58%);
  --text-disabled: hsla(0, 0%, 0%, 36.14%);

  --subtle-fill-transparent: transparent;
  --subtle-fill-secondary: hsla(0, 0%, 0%, 3.73%);
  --subtle-fill-tertiary: hsla(0, 0%, 0%, 2.41%);
  --subtle-fill-disabled: var(--subtle-fill-transparent);

  --control-alt-disabled: hsla(0, 0%, 100%, 0);
  --control-alt-quarternary: hsla(0, 0%, 0%, 0.09);
  --control-alt-secondary: hsla(0, 0%, 0%, 0.02);
  --control-alt-tertiary: hsla(0, 0%, 0%, 0.06);
  --control-alt-transparent: hsla(0, 0%, 100%, 0);

  --control-strong-stroke-default: hsla(0, 0%, 0%, 0.45);
  --control-strong-stroke-disabled: hsla(0, 0%, 0%, 0.22);

  --wui-control-slow-duration: 333ms;
  --wui-control-normal-duration: 250ms;
  --wui-control-fast-duration: 167ms;
  --wui-control-faster-duration: 87ms;
  --wui-control-fast-out-slow-in-easing: cubic-bezier(0, 0, 0, 1);
}

@media (prefers-reduced-motion: reduce) {
  :host {
    --wui-control-slow-duration: 0;
    --wui-control-normal-duration: 0;
    --wui-control-fast-duration: 0;
    --wui-control-faster-duration: 0;
  }
}

:host,
* {
  font-family: 'Poppins', sans-serif;
}

:host .esri-expand {
  --esri-widget-panel-max-height: 80vh;
}

:host .esri-expand__sheet .esri-expand__content-container {
  overflow: auto;
}
